<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="global">
    <div id="menu" class="estiloHeader">
      <app-menu></app-menu>
    </div>
    <div id="principal" class="estiloSection">
      <div style="margin-top: 70px;">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div id="pie" class="estiloFooter">
      <app-pie-pagina></app-pie-pagina>
    </div>
  </div>
</body>
</html>
